.section-navbar{
    position: relative;
    margin: 0 15px 15px;
    padding-bottom:10px;
    text-align: center;

}
.section-navbar h1{
    margin-bottom: 10px;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px #5a51ff;
}
.section-content{
    text-align: center;
}
.section-content .btn-a{
    display: block;
    width: 30%;
    padding: 12px 0;
    margin: 0 auto;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.section-content .login-btn{
    background-color: #31b0d5;
}
.section-content .register-btn{
    background-color: #5cb85c;
}
.list-group .list-group-item{
    margin-bottom: 15px;
}
.list-group-item:after{
    content: "";
    transform: scaleX(0);
}
.gorgeous,.item-active:after{
    content: "";
    border-top: none rgb(65, 163, 255);
    border-right: none rgb(65, 163, 255);
    border-bottom: 2px solid rgb(65, 163, 255);
    border-left: none rgb(65, 163, 255);
    left:0;
    bottom: 0;
    box-sizing: content-box;
    margin: 0;
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
